@import "./utils/variables";
@import "./utils/mixins";

body {
	@include default-fonts;
	font-size: 12px;
	background-color: $off-personal-h3-color;
}

// desktop, 2 column grid
.grid {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
}

// desktop, left flexbox
.left-column {
	grid-column-start: 1;
	width: 237px;
	@include flex__column-wrap;
	justify-content: space-between;
	text-align: center;
	background-color: $personal-background-color;
}

.left-column__header {
	display: block;
	padding: 3px 0 3px 0;
	@include main-header--style;
	@include header--normal-uppercase;
}

#left-column__contact ul {
	text-align: left;
	list-style-type: none;
}

ul div {
	margin-bottom: 10px;

	overflow: hidden;
	width: 0;
	animation: type 5s steps(60, end) forwards;
	
  }
  div:nth-child(1) {
	animation-delay: 0s;
  }
  div:nth-child(2) {
	animation-delay: 1s;
  }
  div:nth-child(3) {
	animation-delay: 2s;
  }
  div:nth-child(4) {
	animation-delay: 4s;
  }
  div:nth-child(5) {
	animation-delay: 5s;
  }
 
  @keyframes type {
	0% {
	  opacity: 0.1;
	}
	100% {
	  width: 100%;
	  opacity: 5;
	}
  }
  

#left-column__pic {
	margin-top: 20px;
	max-height: 135px;
	border: 3px solid grey;
	border-radius: 50%;

	animation-duration: 1s;
	animation-name: bounce;
	overflow: hidden;
}

@keyframes bounce {
	0% {
	  margin-left: 40%;
	}
	25% {
	  margin-right: 40%;
	}
	50% {
		margin-left: 20%;
	  }
	100% {
		margin-right: 0%;
	  }
  }


.left-column p {
	margin: 0px 15px;
	text-align: justify;
 	text-justify: inter-word;
}

// desktop, right flexbox
.right-column {
	width: 427px;
	padding: 0 35px 0 35px;
	grid-column-start: 2;
	@include flex__row-wrap;
	justify-content: space-between;
	
	background-color: $personal-h3-color;
}

// title
#joseph {
	color: $personal-background-color;
			transition-property: color;
			transition-duration: 2s;
			&:hover {
			color: #bd4c01;
	  		}
}
#bateman {
	font-weight: lighter;
}
#freela {
	border-bottom: 1.2px solid $personal-background-color
}

.nav-bar {
	@include header--normal-uppercase;
	text-align: left;
	list-style-type: none;
	margin-top: 30px;
	background-color: $off-personal-h3-color;
	padding: 3px 10px;

}
	.nav-bar li	{
			margin: 10px 0 10px 0;
		}

		.nav-bar a	{
			font-family: roboto slab;
			text-decoration: none;
			color: $h3-background-color;
			&:hover {color: $personal-background-color;}
		}

// work, work__dates, work__references
.work {
	margin: 30px 0px -6px 0px;
	width: 427px;
	border-bottom: 1.2px solid $personal-background-color;
}

.work__dates {
	width: 100px;
}

.work__description {
	width: 300px;
}

.work__references {
	width: 180px;
	line-height: 1.5em;
}

.work__references--name {
	@include header--normal-uppercase;
	&:hover {
		border: 1px solid $h3-background-color;
		border-radius: 100%;	
		padding: 2px 30px;  
		}
}

// general header rules
h1 {
	margin-top: 50px;
	font-size: 32px;
	@include header--normal-uppercase;
}

h2 {
	margin-top: -20px;
	font-size: 18px;
	font-weight: normal;
}

h3 {
	display: inline;
	@include header--normal-uppercase;
	font-size: 1.5em;
}

h4 {
	margin-bottom: -8px;
	@include header--normal-uppercase;
}

h5 {
	margin-bottom: -8px;
	font-weight: normal;
}

hr {
	 border-top: 1px solid $personal-background-color;
}

// icons
.left-column__hobbies-icons i {
	padding: 8px;
	border: 1.5px solid $h3-background-color;
	border-radius: 50%;
	font-size: 30px;
	&:hover {
			background: $personal-h3-color;
			border-radius: 10%;	  
	}
}

.left-column__hobbies {
	@include flex__column-wrap;
	justify-content: space-between;
}

.left-column__hobbies-icons {
	display: flex;
	flex-direction: row;
	margin: 0px 25px 20px 20px;
	justify-content: space-between;
}

.work-icon {
	margin-right: 20px;
	font-size: 20px;
	color: $personal-background-color;
}

// portfolio
.portfolio {
	@include flex__row-wrap;
	margin-top: 100px;
		.portfolio__child {
			width: 200px;
			text-align: center;	
		}
		h1 {
			font-size: 14px;
			width: 75%;
			@include main-header--style;
			padding: 3px 0 3px 0;
			margin: -3px auto 40px auto;

			background: $h3-background-color;
			transition-property: background;
			transition-duration: 2s;
			transition-timing-function: linear;
			&:hover {
			background: #bd4c01;
	  		}
		}
		.portfolio__img {
			height: 150px;
		}
}

// tablet media query rules 
@media all and (max-width: 768px) {
	.grid {
		display: unset;
		width: auto;
		padding: 5px;
	}
	.left-column {
		width: auto;
		background-color: $personal-h3-color;
	}
	.left-column__hobbies  {
		display: none;
	}
	#left-column__about {
		display: none;
	}
	.right-column h5 {
		color: $h3-background-color;
		}
	.work {
		margin: $margin-top--small-centered;
		text-align: center;
	}
	.right-column {
		width: auto;
		padding: 0 5px 0 5px;
		margin: $margin-top--small-centered;
	}
	.right-column__title {
		@include responsive-modifier--wide;
			}
	.work__description {
		@include responsive-modifier--narrow;
			}
		.work__dates {
			@include responsive-modifier--narrow;
		}
		.work__references {
			@include responsive-modifier--wide;
		}
		#left-column__pic {
			margin: 65px 30px 0px 8px;
			max-width: 80px;
			float: right;
		}
		ul {
			display: flex;
			flex-flow: row-reverse wrap;
			padding-left: 0;
			margin-left: 10px;
			justify-content: space-between;
		}
		li {
			width: 200px;
		}
}

/*------------------------------------*\
    $CAROUSEL
\*------------------------------------*/
.carousel{
	overflow:hidden;
	width:100%;
}
.panes{
	list-style:none;
	position:relative;
	width:200%; /* Number of panes * 100% */
	overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */
	animation: carousel 10s infinite;
}
.panes > li{
	position:relative;
	float:left;
	width:50%; /* 100 / number of panes */
}

@keyframes carousel{
	0%   { left: +100%; }
	10%   { left: 0%; }
	45%   { left: 0; }
	55% 	{ left: -100%; }
	90% 	{ left: -100%; }
	100%  { left: -230%; }
	}

// 0%    { transform: translateX(-50%); }
// 10%   { transform: translateX(100%); }
// 45%   { transform: translateX(100%); }
// 55% 	{ transform: translateX(20%); }
// 90% 	{ transform: translateX(20%); }
// 100%  { transform: translateX(50%); }