@import "./utils/variables";
@import "./utils/mixins";
@import "./layouts/left-column";

body {
	@include default-fonts;
	font-size: 12px;
	background-color: $off-personal-h3-color;
}

// desktop, 2 column grid
.grid {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	@include mobile-only {
		display: unset;
			width: auto;
			padding: 5px;
	}
}

// desktop, right flexbox
.right-column {
	width: 427px;
	padding: 0 35px 0 35px;
	grid-column-start: 2;
	@include flex__row-wrap;
	justify-content: space-between;
	background-color: $personal-h3-color;
	@include mobile-only {
			width: auto;
			padding: 0 5px 0 5px;
			margin: $margin-top--small-centered;
		}
}

@include mobile-only {
	.right-column h5 {
		color: $h3-background-color;
	}	
}

// title

.right-column__title {
	display: block;
	width: 100%;
}
#joseph {
	color: $personal-background-color;
			transition-property: color;
			transition-duration: 2s;
			&:hover {
			color: #bd4c01;
	  		}
}
#bateman {
	font-weight: lighter;
}
#freela {
	border-bottom: 1.2px solid $personal-background-color
}


.nav-bar {
	@include flex__row-wrap;
   justify-content: space-evenly;
	@include header--normal-uppercase;
	text-align: center;
	list-style-type: none;
	margin: 0 0 5px 0;
	padding: 0;
	overflow: hidden;
	background-color: $h3-background-color;

	li {
		display: inline;
		text-align: center;
		width: auto;

	  }
	  
	  li a, .dropbtn {
		display: inline-block;
		color: $personal-h3-color;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	  }
	  
	  li a:hover, .dropdown:hover .dropbtn {
		color: $personal-background-color;
	  }
	  
	  .dropdown-content {
		display: none;
		position: absolute;
		background-color: $personal-h3-color;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	  }
	  
	  .dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	  }
	  
	  .dropdown-content a:hover {
		  background-color: $h3-background-color;
		}
	  
	  .dropdown:hover .dropdown-content {
		display: block;
	  }
  }

// work, work__dates, work__references
.work {
	margin: 30px 0px -6px 0px;
	width: 427px;
	border-bottom: 1.2px solid $personal-background-color;
	@include mobile-only {
			margin: $margin-top--small-centered;
			text-align: center;
		}
}

.work__dates {
	width: 100px;
	@include mobile-only {
			@include responsive-modifier--narrow;
		}
}

.work__description {
	width: 300px;
	@include mobile-only {
			@include responsive-modifier--narrow;
				}
}

.work__references {
	width: 180px;
	line-height: 1.5em;
	@include mobile-only {
			@include responsive-modifier--narrow;
		}
}

.work__references--name {
	@include header--normal-uppercase;
	&:hover {
		border: 1px solid $h3-background-color;
		border-radius: 100%;	
		padding: 2px 30px;  
		}
}

// general header rules
h1 {
	margin-top: 50px;
	font-size: 32px;
	@include header--normal-uppercase;
}

h2 {
	margin-top: -20px;
	font-size: 18px;
	font-weight: normal;
}

h3 {
	display: inline;
	@include header--normal-uppercase;
	font-size: 1.5em;
}

h4 {
	margin-bottom: -8px;
	text-transform: uppercase;
	font-weight: bold;

}

h5 {
	margin-bottom: -8px;
	font-weight: normal;
}

hr {
	 border-top: 1px solid $personal-background-color;
}

// icons
.left-column__hobbies-icons i {
	padding: 8px;
	border: 1.5px solid $h3-background-color;
	border-radius: 50%;
	font-size: 30px;
	&:hover {
			background: $personal-h3-color;
			border-radius: 10%;	  
	}
}

.left-column__hobbies-icons {
	display: flex;
	flex-direction: row;
	margin: 0px 25px 20px 20px;
	justify-content: space-between;
}

.left-column__hobbies {
	@include flex__column-wrap;
	justify-content: space-between;
	@include mobile-only {
		display: none;
		}
}

.work-icon {
	margin-right: 20px;
	font-size: 20px;
	color: $personal-background-color;
}

// portfolio
.portfolio {
	@include flex__row-wrap;
   justify-content: space-evenly;
   align-content: center;
   a {text-decoration:none;}	
			.portfolio__child {			
			display: inline;
			text-align: center;	
			margin: 20px;

			opacity: 1;
			display: block;
			height: auto;
			transition: .5s ease;
			backface-visibility: hidden;			
		}
		h3 {
			display: block;
			font-size: 14px;
			@include main-header--style;
			padding: 10px 0;
			margin: -3px auto 0 auto;
			background: $h3-background-color;
			transition-property: background;
			transition-duration: 2s;
			transition-timing-function: linear;
			&:hover {
			background: #bd4c01;		
	  		}
		}
		.portfolio__img {
			width: 470px;
			opacity: 1;
			display: block;
			width: 100%;
			height: auto;
			transition: .5s ease;
			backface-visibility: hidden;
		}
}

.portfolio__child:hover .portfolio__img {
	opacity: 0.3;
  }

// Carousel
.carousel{
	overflow:hidden;
	width:100%;
}
.panes{
	list-style:none;
	position:relative;
	width:200%; /* Number of panes * 100% */
	overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */
	animation: carousel 10s infinite;
}
.panes > li{
	position:relative;
	float:left;
	width:50%; /* 100 / number of panes */
}

@keyframes carousel{
	0%   	{ left: +100%; }
	10%   { left: 0%; }
	45%   { left: 0; }
	55% 	{ left: -100%; }
	90% 	{ left: -100%; }
	100%  { left: -230%; }
	}

// 0%    { transform: translateX(-50%); }
// 10%   { transform: translateX(100%); }
// 45%   { transform: translateX(100%); }
// 55% 	{ transform: translateX(20%); }
// 90% 	{ transform: translateX(20%); }
// 100%  { transform: translateX(50%); }

.index-name {
	display: inline-block;
	width: 100%;
	text-align: center;
	background-color: $personal-h3-color;
	@include mobile-only {
		
		}
}

#index-pic {
	display: inline-block;
	margin-left: 5%;
}

//  ul li {
// 	display: inline;
// }

.highend-screenshot__img {
	width: 680px;
	margin: 30px auto;
	display: block;
	border: 5px solid black;
	border-style: dotted;
	@include mobile-only {
		width: 90%;
		}
}

.placeholder-content p {
	margin: 0 auto;
	width: 60%;
	font-size: 1.3em;
	@include mobile-only {
		width: 90%;
		}
}

.index-contact {
	margin: 20px auto;
	width: auto;
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	background-color: $personal-h3-color;
		li {
			margin: auto;
			padding: 3%;
			@include mobile-only {
		width: auto;
		}
	}
}

.index-info {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: auto;
	margin: 20px auto;
	background-color: $personal-h3-color; 
		
		&__container {
			h2 {
				font-size: 1.6em;
				margin-top: 20px;
				text-decoration-line: underline;
			}
			font-size: 1.3em;
			margin: 20px auto;
			width: 400px;	
			padding: 0 5px;
			}
}

  ul {
	list-style-type: none;
  }