// color variables
$personal-h3-color: white;
$personal-background-color: #86D6FC;
$h3-background-color: #105A97;
$off-personal-h3-color: #E7E7E7;

// spacing variables
$margin-top--small-centered: 30px auto 0 auto;
$div-center: auto;

// breakpoints
$breakpoints: (
    // tablet: 768px,
    mobile: 768px
);