// desktop, left flexbox
.left-column {
	grid-column-start: 1;
	width: 237px;
	@include flex__column-wrap;
	justify-content: space-between;
	text-align: center;
	background-color: $personal-background-color;
	@include mobile-only {
		width: auto;
		background-color: $personal-h3-color;
	}
		.left-column__header {
			display: block;
			padding: 3px 0 3px 0;
			@include main-header--style;
			@include header--normal-uppercase;
		}
}
		#left-column__contact ul {
			text-align: left;
			list-style-type: none;
		}

@include mobile-only {
	ul {
		display: flex;
		flex-flow: row-reverse wrap;
		padding-left: 0;
		margin-left: 10px;
		justify-content: space-between;
	}
}

@include mobile-only {
	li {
		width: 200px;
	}
}

@include mobile-only {
	#left-column__about {
		display: none;
	}
}		

.left-column__contact__ul div {
			margin-bottom: 10px;
			overflow: hidden;
			width: 0;
			animation: type 5s steps(60, end) forwards;
			}
			
			div:nth-child(1) {
			animation-delay: 0s;
			}
			div:nth-child(2) {
			animation-delay: 1s;
			}
			div:nth-child(3) {
			animation-delay: 2s;
			}
			div:nth-child(4) {
			animation-delay: 4s;
			}
			div:nth-child(5) {
			animation-delay: 5s;
			}
		 
			@keyframes type {
			0% {
				opacity: 0.1;
			}
			100% {
				width: 100%;
				opacity: 5;
			}
		}
		
		#left-column__pic {
			margin-top: 20px;
			max-height: 135px;
			border: 3px solid grey;
			border-radius: 50%;
			@include mobile-only {
					margin: 65px 30px 0px 8px;
					max-width: 80px;
					float: right;
			}
			animation-duration: 1s;
			animation-name: bounce;
			overflow: hidden;
		}
		
		@keyframes bounce {
			0% {
				margin-left: 40%;
			}
			25% {
				margin-right: 40%;
			}
			50% {
				margin-left: 20%;
				}
			100% {
				margin-right: 0%;
				}
			}
		
		.left-column p {
			margin: 0px 15px;
			text-align: justify;
			 text-justify: inter-word;
		}